.selected {
  color: orange;

  border-bottom: solid orangered 3px;

  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.none {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.hr {
  color: orangered;
  width: auto;
  background-color: orangered;
}

.para {
  min-width: 50%;
  align-self: center;
}

@media (max-width: 767px) {
  .para {
    min-width: 50vw;
    align-self: center;
    text-align: center;
  }
}



